/* ADD GLOBAL CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom right, #e0ecff, #f8f9fa);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
}


h1 {
  font-size: 2rem;
  background: linear-gradient(to right, #1a73e8, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}